{% extends "layout.twig" %}

{% block my_js %}
<script src="/js/indexAnimation.js"></script>
{% endblock %}

{% block content %}

<div id="indexContent">
    <div id="hline" class="line"></div>
    <div id="root" class="line"></div>
    <div id="bar" class="line"></div>
    <div id="branch1" class="line"></div>
    <div id="branch2" class="line"></div>
    <div id="hline1" class="line"></div>
    <div id="hline2" class="line"></div>

    <div id="atinfo">ATINFO</div>
    <div id="text1">ARTISAN WEB</div>
    <div id="link1"><a href="#" class="index">services</a></div>
    <div id="link2"><a href="#" class="index">contact</a></div>
    <div id="text2">2006-2016</div>
</div>

{% endblock %}
