{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/screen2.css">
{% endblock %}


{% block content %}
<section class="index">
    <div class="container">
        <h1>
            atinfo
        </h1>

        <h2>
            modern web development
        </h2>

        <p>
            since 2006
        </p>
    </div>
</section>

<section class="service">
    <div class="container">
        <h1>
            services
        </h1>

        <div id="servicesContent">
            <div id="serviceCenter"></div>

            <div id="servicesFlowerContainer">
                {# CREATE PETALS #}
                {% for i in 1..18 %}
                    <div id="servicePetal{{ 100 + i }}" class="servicePetal"></div>
                {% endfor %}

                {# CREATE LEAVES #}
                {% for i in 1..4 %}
                    <div id="leaf{{ i }}" class="leaf">
                        <div id="bigStem"></div>
                        <div class="stem stem1"></div>
                        <div class="stem stem2"></div>
                        <div class="stem stem3"></div>
                    </div>
                {% endfor %}
            </div>

            <div id="servicesContentText">
                <span class="indexSpan" id="indexSpan1">We bring</span>
                <span class="indexSpan" id="indexSpan2">your dreams</span>
                <span class="indexSpan" id="indexSpan3">to</span>
                <span class="indexSpan" id="indexSpan4">life</span>
            </div>
        </div>

    </div>
</section>

<section class="contact">
    <div class="container">
        <h1>
            contact
        </h1>
    </div>
</section>

<div style="position: relative;">
    polo
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script>
    $(function() {

        $("section").css( 'left', - (($(document).width() - $(window).width()) / 2) + 8  );

        var $body = $(document);
        $body.bind('scroll', function() {
            // "Disable" the horizontal scroll.
            if ($body.scrollLeft() !== 0) {
                $body.scrollLeft(0);
            }
        });
    });
</script>
{% endblock %}
