<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>at-info.ch</title>

    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/jquery.color.js"></script>
    <script src="/js/vendor/velocity.min.js"></script>

    <script src="/js/script.js"></script>

    {% block my_js %}{% endblock %}

    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/services.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/contact.css">
  </head>
  <body>


	{% block content %}{% endblock %}


{#     <script src="js/vendor/what-input.js"></script>#}
{#     <script src="js/vendor/foundation.js"></script>#}

    {% block js %}{% endblock %}

  </body>
</html>
