{% extends "layout.twig" %}

{% block content %}

<div id="services" class="screen">

	<div class="screenTopBar">
		<ul class="menu">
		  	<li><a href="/">HOME</a></li>
		  	<li><a href="/contact">CONTACT</a></li>
		</ul>
	</div>

    <div class="mask" id="mask"></div><div  class="mask" id="mask2"><div class="mask2Container"></div></div>
    <div id="trunk">

    </div>
    <div id="trunkMask"></div>


    <div id="servicesContent">
        <div id="serviceCenter"></div>

        <div id="servicesFlowerContainer">
            {# CREATE PETALS #}
            {% for i in 1..18 %}
                <div id="servicePetal{{ 100 + i }}" class="servicePetal"></div>
            {% endfor %}

            {# CREATE LEAVES #}
            {% for i in 1..4 %}
                <div id="leaf{{ i }}" class="leaf">
                    <div class="stem"></div>
                    <div class="stem1"></div>
                    <div class="stem2"></div>
                    <div class="stem3"></div>
                </div>
            {% endfor %}
        </div>

        <div id="servicesContentText">
            <span class="indexSpan" id="indexSpan1">We bring</span>
            <span class="indexSpan" id="indexSpan2">your dreams</span>
            <span class="indexSpan" id="indexSpan3">to</span>
            <span class="indexSpan" id="indexSpan4">life</span>
        </div>
    </div>
</div>

{% endblock %}
