{% extends "layout.twig" %}

{% block content %}

<div id="services" class="screen">

	<div class="screenTopBar">
		<ul class="menu">
		  	<li><a href="/">HOME</a></li>
		  	<li><a href="/contact">CONTACT</a></li>
		</ul>
	</div>

    <div class="mask" id="mask"></div><div  class="mask" id="mask2"><div class="mask2Container"></div></div>
    <div id="trunk">

    </div>
    <div id="trunkMask"></div>


    <div id="indexContent">
        <div id="serviceCenter"></div>

        {# CREATE PETALS #}
        {% for i in 1..18 %}
            <div id="servicePetal{{ 100 + i }}" class="servicePetal"></div>
        {% endfor %}

        {# CREATE LEAVES #}
        {% for i in 1..4 %}
            <div id="leaf{{ i }}" class="leaf"></div>
        {% endfor %}
    </div>
</div>

{% endblock %}
