{% extends "layout.twig" %}

{% block content %}

<div id="services" class="screen">

	<div class="screenTopBar">
		<ul class="menu">
		  	<li><a href="/">HOME</a></li>
		  	<li><a href="/contact">CONTACT</a></li>
		</ul>
	</div>
	<div class="cell">

		<div class="page clearfix text-center">
			<div class="w75 float-left">
				<h5>CONSEIL</h5>
				<p>
					Vous avez besoin d'une vitrine sur le web ? d'une solution e-commerce ?
				</p>
				<p class="answer">
					Nous vous guidons dans le choix de la meilleure solution pour votre entreprise
				</p>
			</div>


			<div class="w75 float-right text-right">
				<h5>INTEGRATION</h5>
				<p class="text-left">
					Vous savez ce que vous voulez ! il ne reste plus qu'à ...
				</p>
				<p class="answer text-left">
					Nous vous livrons votre solution prête à l'emploi
				</p>
			</div>


			<div class="w75 float-left">
				<h5>FORMATION</h5>
				<p>
					Vous aimeriez gérer le contenu de votre présence en ligne vous-même pour plus de réactivité !
				</p>
				<p class="answer">
					Nous vous formons sur les fonctions utiles  de votre site pour vous et vous donnons
					le contrôle de votre business.
				</p>
			</div>


			<div class="w75 float-right text-right">
				<h5>DEVELOPPEMENT</h5>
				<p class="text-left">
					Aucune solution ne convient à vos besoins spécifiques !
				</p>
				<p class="answer text-left">
					Nous développons votre solution sur mesure d'après vos spécifications.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
