{% extends "layout.twig" %}

{% block content %}

<div id="services" class="screen">

	<div class="screenTopBar">
		<ul class="menu">
		  	<li><a href="/">HOME</a></li>
		  	<li><a href="/contact">CONTACT</a></li>
		</ul>
	</div>

    <div class="mask" id="mask"></div><div  class="mask" id="mask2"><div class="mask2Container"></div></div>
    <div class="serviceContainer">

    </div>
    <div id="trunkMask"></div>
    <div id="indexContent">

    </div>
</div>

{% endblock %}
