/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* line 8, ../sass/contact.scss */
#contactContent {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  margin-top: -125px;
  margin-left: -150px;
  text-align: center;
}

/* line 19, ../sass/contact.scss */
#contactContent h1 {
  padding: 0 0 10px 0;
  height: 25px;
  line-height: 25px;
  font-size: 150%;
  font-family: 'Gruppo', sans-serif;
}

/* line 27, ../sass/contact.scss */
#contactContent p {
  padding: 5px 0;
}

/* line 31, ../sass/contact.scss */
.open-brace-position {
  float: left;
  margin: 5px 0;
}

/* line 36, ../sass/contact.scss */
.close-brace-position {
  float: right;
  margin: 10px 0;
}

/* line 42, ../sass/contact.scss */
.normalButton {
  border: 1px solid #aaa;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -moz-linear-gradient(#ffffff, rgba(0, 0, 0, 0.05));
  background-image: -webkit-linear-gradient(#ffffff, rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(#ffffff, rgba(0, 0, 0, 0.05));
  color: #aaa;
  background-color: #e9e9e9;
}

/* line 52, ../sass/contact.scss */
.activeButton {
  color: #ccc;
  background-color: #f00;
  border-color: #a00;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}

/* line 61, ../sass/contact.scss */
.activeButton:hover {
  color: #ddd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
}

/* line 73, ../sass/contact.scss */
.name-curly-brace-open {
  height: 40px;
  width: 10px;
  display: inline-block;
}

/* line 80, ../sass/contact.scss */
.name-curly-brace-open .b1 {
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-top-left-radius: 10px;
}

/* line 87, ../sass/contact.scss */
.name-curly-brace-open .b2 {
  margin-left: -10px;
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 94, ../sass/contact.scss */
.name-curly-brace-open .b3 {
  margin-left: -10px;
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-bottom-right-radius: 10px;
}

/* line 102, ../sass/contact.scss */
.name-curly-brace-open .b4 {
  margin-left: -10px;
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-top-right-radius: 10px;
}

/* line 110, ../sass/contact.scss */
.name-curly-brace-open .b5 {
  margin-left: -10px;
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 117, ../sass/contact.scss */
.name-curly-brace-open .b6 {
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-bottom-left-radius: 10px;
}

/* line 129, ../sass/contact.scss */
.name-curly-brace-close {
  height: 40px;
  width: 10px;
  display: inline-block;
}

/* line 136, ../sass/contact.scss */
.name-curly-brace-close .b1 {
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-top-right-radius: 10px;
}

/* line 143, ../sass/contact.scss */
.name-curly-brace-close .b2 {
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 149, ../sass/contact.scss */
.name-curly-brace-close .b3 {
  margin-left: 10px;
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-bottom-left-radius: 10px;
}

/* line 157, ../sass/contact.scss */
.name-curly-brace-close .b4 {
  margin-left: 10px;
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-top-left-radius: 10px;
}

/* line 165, ../sass/contact.scss */
.name-curly-brace-close .b5 {
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 171, ../sass/contact.scss */
.name-curly-brace-close .b6 {
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-bottom-right-radius: 10px;
}

/* line 73, ../sass/contact.scss */
.email-curly-brace-open {
  height: 40px;
  width: 10px;
  display: inline-block;
}

/* line 80, ../sass/contact.scss */
.email-curly-brace-open .b1 {
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-top-left-radius: 10px;
}

/* line 87, ../sass/contact.scss */
.email-curly-brace-open .b2 {
  margin-left: -10px;
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 94, ../sass/contact.scss */
.email-curly-brace-open .b3 {
  margin-left: -10px;
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-bottom-right-radius: 10px;
}

/* line 102, ../sass/contact.scss */
.email-curly-brace-open .b4 {
  margin-left: -10px;
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-top-right-radius: 10px;
}

/* line 110, ../sass/contact.scss */
.email-curly-brace-open .b5 {
  margin-left: -10px;
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 117, ../sass/contact.scss */
.email-curly-brace-open .b6 {
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-bottom-left-radius: 10px;
}

/* line 129, ../sass/contact.scss */
.email-curly-brace-close {
  height: 40px;
  width: 10px;
  display: inline-block;
}

/* line 136, ../sass/contact.scss */
.email-curly-brace-close .b1 {
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-top-right-radius: 10px;
}

/* line 143, ../sass/contact.scss */
.email-curly-brace-close .b2 {
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 149, ../sass/contact.scss */
.email-curly-brace-close .b3 {
  margin-left: 10px;
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-bottom-left-radius: 10px;
}

/* line 157, ../sass/contact.scss */
.email-curly-brace-close .b4 {
  margin-left: 10px;
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-top-left-radius: 10px;
}

/* line 165, ../sass/contact.scss */
.email-curly-brace-close .b5 {
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 171, ../sass/contact.scss */
.email-curly-brace-close .b6 {
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-bottom-right-radius: 10px;
}

/* line 73, ../sass/contact.scss */
.message-curly-brace-open {
  height: 80px;
  width: 5px;
  display: inline-block;
}

/* line 80, ../sass/contact.scss */
.message-curly-brace-open .b1 {
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-top-left-radius: 5px;
}

/* line 87, ../sass/contact.scss */
.message-curly-brace-open .b2 {
  margin-left: -5px;
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 94, ../sass/contact.scss */
.message-curly-brace-open .b3 {
  margin-left: -5px;
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-bottom-right-radius: 5px;
}

/* line 102, ../sass/contact.scss */
.message-curly-brace-open .b4 {
  margin-left: -5px;
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-top-right-radius: 5px;
}

/* line 110, ../sass/contact.scss */
.message-curly-brace-open .b5 {
  margin-left: -5px;
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 117, ../sass/contact.scss */
.message-curly-brace-open .b6 {
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-bottom-left-radius: 5px;
}

/* line 129, ../sass/contact.scss */
.message-curly-brace-close {
  height: 80px;
  width: 5px;
  display: inline-block;
}

/* line 136, ../sass/contact.scss */
.message-curly-brace-close .b1 {
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-top-right-radius: 5px;
}

/* line 143, ../sass/contact.scss */
.message-curly-brace-close .b2 {
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 149, ../sass/contact.scss */
.message-curly-brace-close .b3 {
  margin-left: 5px;
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-bottom-left-radius: 5px;
}

/* line 157, ../sass/contact.scss */
.message-curly-brace-close .b4 {
  margin-left: 5px;
  width: 100%;
  height: 10%;
  border-left: 2px solid;
  border-top-left-radius: 5px;
}

/* line 165, ../sass/contact.scss */
.message-curly-brace-close .b5 {
  width: 100%;
  height: 30%;
  border-right: 2px solid;
}

/* line 171, ../sass/contact.scss */
.message-curly-brace-close .b6 {
  width: 100%;
  height: 10%;
  border-right: 2px solid;
  border-bottom-right-radius: 5px;
}

/* line 192, ../sass/contact.scss */
.name-curly-brace-open, .name-curly-brace-close {
  -webkit-animation: animBraces 3s ease-out forwards;
  -moz-animation: animBraces 3s ease-out forwards;
  -o-animation: animBraces 3s ease-out forwards;
  animation: animBraces 3s ease-out forwards;
}

/* line 196, ../sass/contact.scss */
.email-curly-brace-open, .email-curly-brace-close {
  -webkit-animation: animBraces 4s ease-out forwards;
  -moz-animation: animBraces 4s ease-out forwards;
  -o-animation: animBraces 4s ease-out forwards;
  animation: animBraces 4s ease-out forwards;
}

/* line 200, ../sass/contact.scss */
.message-curly-brace-open, .message-curly-brace-close {
  -webkit-animation: animBraces 5s ease-out forwards;
  -moz-animation: animBraces 5s ease-out forwards;
  -o-animation: animBraces 5s ease-out forwards;
  animation: animBraces 5s ease-out forwards;
}

@-webkit-keyframes animBraces {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  25% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes animBraces {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  25% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-o-keyframes animBraces {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  25% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes $animBraces {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  25% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes animButton {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes animButton {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-o-keyframes animButton {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes $animButton {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
/* line 230, ../sass/contact.scss */
input[type="submit"] {
  margin: auto;
  -webkit-animation: animButton 6s ease-out forwards;
  -moz-animation: animButton 6s ease-out forwards;
  -o-animation: animButton 6s ease-out forwards;
  animation: animButton 6s ease-out forwards;
}

@-webkit-keyframes formInputs {
  0% {
    width: 0%;
  }
  40% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes formInputs {
  0% {
    width: 0%;
  }
  40% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-o-keyframes formInputs {
  0% {
    width: 0%;
  }
  40% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes $formInputs {
  0% {
    width: 0%;
  }
  40% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
/* line 249, ../sass/contact.scss */
input[type="text"], input[type="email"], textarea {
  -webkit-animation: formInputs 4s ease-out forwards;
  -moz-animation: formInputs 4s ease-out forwards;
  -o-animation: formInputs 4s ease-out forwards;
  animation: formInputs 4s ease-out forwards;
}

@-webkit-keyframes placeholders {
  0% {
    opacity: 0;
    width: 0%;
  }
  60% {
    opacity: 0;
    width: 0%;
  }
  90% {
    opacity: 0;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}
@-moz-keyframes placeholders {
  0% {
    opacity: 0;
    width: 0%;
  }
  60% {
    opacity: 0;
    width: 0%;
  }
  90% {
    opacity: 0;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}
@-o-keyframes placeholders {
  0% {
    opacity: 0;
    width: 0%;
  }
  60% {
    opacity: 0;
    width: 0%;
  }
  90% {
    opacity: 0;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}
@keyframes $placeholders {
  0% {
    opacity: 0;
    width: 0%;
  }
  60% {
    opacity: 0;
    width: 0%;
  }
  90% {
    opacity: 0;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}
/* line 273, ../sass/contact.scss */
input[type=text], input[type=email], textarea {
  -webkit-animation: placeholders 4s ease-out forwards;
  -moz-animation: placeholders 4s ease-out forwards;
  -o-animation: placeholders 4s ease-out forwards;
  animation: placeholders 4s ease-out forwards;
}

@media all and (min-width: 40em) {
  /* line 281, ../sass/contact.scss */
  #contactContent {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 600px;
    margin-top: -275px;
    margin-left: -300px;
    -webkit-animation: animContactContainer 3s ease-in forwards;
    -moz-animation: animContactContainer 3s ease-in forwards;
    -o-animation: animContactContainer 3s ease-in forwards;
    animation: animContactContainer 3s ease-in forwards;
  }

  /* line 293, ../sass/contact.scss */
  #contactContent h1 {
    padding: 0 0 10px 0;
    height: 50px;
    line-height: 50px;
    font-size: 300%;
  }

  /* line 301, ../sass/contact.scss */
  .open-brace-position {
    float: left;
    margin: 10px 0;
  }

  /* line 306, ../sass/contact.scss */
  .close-brace-position {
    float: right;
    margin: 10px 5px 10px 0;
  }

  /* line 73, ../sass/contact.scss */
  .name-curly-brace-open {
    height: 80px;
    width: 10px;
    display: inline-block;
  }

  /* line 80, ../sass/contact.scss */
  .name-curly-brace-open .b1 {
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-top-left-radius: 10px;
  }

  /* line 87, ../sass/contact.scss */
  .name-curly-brace-open .b2 {
    margin-left: -10px;
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 94, ../sass/contact.scss */
  .name-curly-brace-open .b3 {
    margin-left: -10px;
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-bottom-right-radius: 10px;
  }

  /* line 102, ../sass/contact.scss */
  .name-curly-brace-open .b4 {
    margin-left: -10px;
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-top-right-radius: 10px;
  }

  /* line 110, ../sass/contact.scss */
  .name-curly-brace-open .b5 {
    margin-left: -10px;
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 117, ../sass/contact.scss */
  .name-curly-brace-open .b6 {
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-bottom-left-radius: 10px;
  }

  /* line 129, ../sass/contact.scss */
  .name-curly-brace-close {
    height: 80px;
    width: 10px;
    display: inline-block;
  }

  /* line 136, ../sass/contact.scss */
  .name-curly-brace-close .b1 {
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-top-right-radius: 10px;
  }

  /* line 143, ../sass/contact.scss */
  .name-curly-brace-close .b2 {
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 149, ../sass/contact.scss */
  .name-curly-brace-close .b3 {
    margin-left: 10px;
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-bottom-left-radius: 10px;
  }

  /* line 157, ../sass/contact.scss */
  .name-curly-brace-close .b4 {
    margin-left: 10px;
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-top-left-radius: 10px;
  }

  /* line 165, ../sass/contact.scss */
  .name-curly-brace-close .b5 {
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 171, ../sass/contact.scss */
  .name-curly-brace-close .b6 {
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-bottom-right-radius: 10px;
  }

  /* line 73, ../sass/contact.scss */
  .email-curly-brace-open {
    height: 80px;
    width: 10px;
    display: inline-block;
  }

  /* line 80, ../sass/contact.scss */
  .email-curly-brace-open .b1 {
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-top-left-radius: 10px;
  }

  /* line 87, ../sass/contact.scss */
  .email-curly-brace-open .b2 {
    margin-left: -10px;
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 94, ../sass/contact.scss */
  .email-curly-brace-open .b3 {
    margin-left: -10px;
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-bottom-right-radius: 10px;
  }

  /* line 102, ../sass/contact.scss */
  .email-curly-brace-open .b4 {
    margin-left: -10px;
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-top-right-radius: 10px;
  }

  /* line 110, ../sass/contact.scss */
  .email-curly-brace-open .b5 {
    margin-left: -10px;
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 117, ../sass/contact.scss */
  .email-curly-brace-open .b6 {
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-bottom-left-radius: 10px;
  }

  /* line 129, ../sass/contact.scss */
  .email-curly-brace-close {
    height: 80px;
    width: 10px;
    display: inline-block;
  }

  /* line 136, ../sass/contact.scss */
  .email-curly-brace-close .b1 {
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-top-right-radius: 10px;
  }

  /* line 143, ../sass/contact.scss */
  .email-curly-brace-close .b2 {
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 149, ../sass/contact.scss */
  .email-curly-brace-close .b3 {
    margin-left: 10px;
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-bottom-left-radius: 10px;
  }

  /* line 157, ../sass/contact.scss */
  .email-curly-brace-close .b4 {
    margin-left: 10px;
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-top-left-radius: 10px;
  }

  /* line 165, ../sass/contact.scss */
  .email-curly-brace-close .b5 {
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 171, ../sass/contact.scss */
  .email-curly-brace-close .b6 {
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-bottom-right-radius: 10px;
  }

  /* line 73, ../sass/contact.scss */
  .message-curly-brace-open {
    height: 180px;
    width: 10px;
    display: inline-block;
  }

  /* line 80, ../sass/contact.scss */
  .message-curly-brace-open .b1 {
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-top-left-radius: 10px;
  }

  /* line 87, ../sass/contact.scss */
  .message-curly-brace-open .b2 {
    margin-left: -10px;
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 94, ../sass/contact.scss */
  .message-curly-brace-open .b3 {
    margin-left: -10px;
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-bottom-right-radius: 10px;
  }

  /* line 102, ../sass/contact.scss */
  .message-curly-brace-open .b4 {
    margin-left: -10px;
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-top-right-radius: 10px;
  }

  /* line 110, ../sass/contact.scss */
  .message-curly-brace-open .b5 {
    margin-left: -10px;
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 117, ../sass/contact.scss */
  .message-curly-brace-open .b6 {
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-bottom-left-radius: 10px;
  }

  /* line 129, ../sass/contact.scss */
  .message-curly-brace-close {
    height: 180px;
    width: 10px;
    display: inline-block;
  }

  /* line 136, ../sass/contact.scss */
  .message-curly-brace-close .b1 {
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-top-right-radius: 10px;
  }

  /* line 143, ../sass/contact.scss */
  .message-curly-brace-close .b2 {
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 149, ../sass/contact.scss */
  .message-curly-brace-close .b3 {
    margin-left: 10px;
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-bottom-left-radius: 10px;
  }

  /* line 157, ../sass/contact.scss */
  .message-curly-brace-close .b4 {
    margin-left: 10px;
    width: 100%;
    height: 10%;
    border-left: 4px solid;
    border-top-left-radius: 10px;
  }

  /* line 165, ../sass/contact.scss */
  .message-curly-brace-close .b5 {
    width: 100%;
    height: 30%;
    border-right: 4px solid;
  }

  /* line 171, ../sass/contact.scss */
  .message-curly-brace-close .b6 {
    width: 100%;
    height: 10%;
    border-right: 4px solid;
    border-bottom-right-radius: 10px;
  }

  @-webkit-keyframes animContactContainer {
    0% {
      margin-left: 0px;
      width: 40px;
    }
    80% {
      margin-left: 0px;
      width: 40px;
    }
    100% {
      margin-left: -300px;
      width: 600px;
    }
  }
  @-moz-keyframes animContactContainer {
    0% {
      margin-left: 0px;
      width: 40px;
    }
    80% {
      margin-left: 0px;
      width: 40px;
    }
    100% {
      margin-left: -300px;
      width: 600px;
    }
  }
  @-o-keyframes animContactContainer {
    0% {
      margin-left: 0px;
      width: 40px;
    }
    80% {
      margin-left: 0px;
      width: 40px;
    }
    100% {
      margin-left: -300px;
      width: 600px;
    }
  }
  @keyframes $animContactContainer {
    0% {
      margin-left: 0px;
      width: 40px;
    }
    80% {
      margin-left: 0px;
      width: 40px;
    }
    100% {
      margin-left: -300px;
      width: 600px;
    }
  }
}
