/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* line 8, ../sass/contact.scss */
#contactContent {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  width: 300px;
  margin-top: -100px;
  margin-left: -150px;
  border: 1px solid red;
}

/* line 18, ../sass/contact.scss */
#contactContent h1 {
  padding: 0 0 10px 0;
  font-size: 150%;
}

/* line 23, ../sass/contact.scss */
#contactContent p {
  padding: 5px 0;
}

/* line 28, ../sass/contact.scss */
.contactFlowerContainer {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid red;
}

/* line 40, ../sass/contact.scss */
#contactFlowerContainer1 {
  top: 0;
  left: 0px;
}

/* line 40, ../sass/contact.scss */
#contactFlowerContainer2 {
  top: 0;
  left: 100px;
}

/* line 40, ../sass/contact.scss */
#contactFlowerContainer3 {
  top: 0;
  left: 200px;
}

/* line 40, ../sass/contact.scss */
#contactFlowerContainer4 {
  top: 0;
  left: 300px;
}

/* line 47, ../sass/contact.scss */
#contactFlowerContainer5 {
  top: 83.33333px;
  right: 0;
}

/* line 47, ../sass/contact.scss */
#contactFlowerContainer6 {
  top: 166.66667px;
  right: 0;
}

/* line 54, ../sass/contact.scss */
#contactFlowerContainer7 {
  bottom: 0;
  right: 0px;
}

/* line 54, ../sass/contact.scss */
#contactFlowerContainer8 {
  bottom: 0;
  right: 100px;
}

/* line 54, ../sass/contact.scss */
#contactFlowerContainer9 {
  bottom: 0;
  right: 200px;
}

/* line 54, ../sass/contact.scss */
#contactFlowerContainer10 {
  bottom: 0;
  right: 300px;
}

/* line 61, ../sass/contact.scss */
#contactFlowerContainer11 {
  bottom: 83.33333px;
  left: 0;
}

/* line 61, ../sass/contact.scss */
#contactFlowerContainer12 {
  bottom: 166.66667px;
  left: 0;
}

/* line 72, ../sass/contact.scss */
#contactFlowerContainer1 {
  -moz-transform: rotate(-91deg);
  -ms-transform: rotate(-91deg);
  -webkit-transform: rotate(-91deg);
  transform: rotate(-91deg);
}

/* line 72, ../sass/contact.scss */
#contactFlowerContainer4 {
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 72, ../sass/contact.scss */
#contactFlowerContainer7 {
  -moz-transform: rotate(89deg);
  -ms-transform: rotate(89deg);
  -webkit-transform: rotate(89deg);
  transform: rotate(89deg);
}

/* line 72, ../sass/contact.scss */
#contactFlowerContainer10 {
  -moz-transform: rotate(179deg);
  -ms-transform: rotate(179deg);
  -webkit-transform: rotate(179deg);
  transform: rotate(179deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer2 {
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer3 {
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer5 {
  -moz-transform: rotate(89deg);
  -ms-transform: rotate(89deg);
  -webkit-transform: rotate(89deg);
  transform: rotate(89deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer6 {
  -moz-transform: rotate(89deg);
  -ms-transform: rotate(89deg);
  -webkit-transform: rotate(89deg);
  transform: rotate(89deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer8 {
  -moz-transform: rotate(179deg);
  -ms-transform: rotate(179deg);
  -webkit-transform: rotate(179deg);
  transform: rotate(179deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer9 {
  -moz-transform: rotate(179deg);
  -ms-transform: rotate(179deg);
  -webkit-transform: rotate(179deg);
  transform: rotate(179deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer11 {
  -moz-transform: rotate(269deg);
  -ms-transform: rotate(269deg);
  -webkit-transform: rotate(269deg);
  transform: rotate(269deg);
}

/* line 82, ../sass/contact.scss */
#contactFlowerContainer12 {
  -moz-transform: rotate(269deg);
  -ms-transform: rotate(269deg);
  -webkit-transform: rotate(269deg);
  transform: rotate(269deg);
}

/* line 88, ../sass/contact.scss */
.contactPetal {
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid red;
  -moz-border-radius: 0% 100%;
  -webkit-border-radius: 0%;
  border-radius: 0% 100%;
}

/* line 99, ../sass/contact.scss */
.contactPetal1 {
  -moz-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal2 {
  -moz-transform: rotate(163deg);
  -ms-transform: rotate(163deg);
  -webkit-transform: rotate(163deg);
  transform: rotate(163deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal3 {
  -moz-transform: rotate(181deg);
  -ms-transform: rotate(181deg);
  -webkit-transform: rotate(181deg);
  transform: rotate(181deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal4 {
  -moz-transform: rotate(199deg);
  -ms-transform: rotate(199deg);
  -webkit-transform: rotate(199deg);
  transform: rotate(199deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal5 {
  -moz-transform: rotate(217deg);
  -ms-transform: rotate(217deg);
  -webkit-transform: rotate(217deg);
  transform: rotate(217deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal6 {
  -moz-transform: rotate(235deg);
  -ms-transform: rotate(235deg);
  -webkit-transform: rotate(235deg);
  transform: rotate(235deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal7 {
  -moz-transform: rotate(253deg);
  -ms-transform: rotate(253deg);
  -webkit-transform: rotate(253deg);
  transform: rotate(253deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal8 {
  -moz-transform: rotate(271deg);
  -ms-transform: rotate(271deg);
  -webkit-transform: rotate(271deg);
  transform: rotate(271deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal9 {
  -moz-transform: rotate(289deg);
  -ms-transform: rotate(289deg);
  -webkit-transform: rotate(289deg);
  transform: rotate(289deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal10 {
  -moz-transform: rotate(307deg);
  -ms-transform: rotate(307deg);
  -webkit-transform: rotate(307deg);
  transform: rotate(307deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal11 {
  -moz-transform: rotate(325deg);
  -ms-transform: rotate(325deg);
  -webkit-transform: rotate(325deg);
  transform: rotate(325deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal12 {
  -moz-transform: rotate(343deg);
  -ms-transform: rotate(343deg);
  -webkit-transform: rotate(343deg);
  transform: rotate(343deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal13 {
  -moz-transform: rotate(361deg);
  -ms-transform: rotate(361deg);
  -webkit-transform: rotate(361deg);
  transform: rotate(361deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal14 {
  -moz-transform: rotate(379deg);
  -ms-transform: rotate(379deg);
  -webkit-transform: rotate(379deg);
  transform: rotate(379deg);
}

/* line 99, ../sass/contact.scss */
.contactPetal15 {
  -moz-transform: rotate(397deg);
  -ms-transform: rotate(397deg);
  -webkit-transform: rotate(397deg);
  transform: rotate(397deg);
}

@media all and (min-width: 40em) {
  /* line 116, ../sass/contact.scss */
  #contactContent {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 600px;
    margin-top: -275px;
    margin-left: -300px;
    border: 1px solid red;
  }

  /* line 130, ../sass/contact.scss */
  #contactFlowerContainer1 {
    top: 0;
    left: 0px;
  }

  /* line 130, ../sass/contact.scss */
  #contactFlowerContainer2 {
    top: 0;
    left: 200px;
  }

  /* line 130, ../sass/contact.scss */
  #contactFlowerContainer3 {
    top: 0;
    left: 400px;
  }

  /* line 130, ../sass/contact.scss */
  #contactFlowerContainer4 {
    top: 0;
    left: 600px;
  }

  /* line 137, ../sass/contact.scss */
  #contactFlowerContainer5 {
    top: 200px;
    right: 0;
  }

  /* line 137, ../sass/contact.scss */
  #contactFlowerContainer6 {
    top: 400px;
    right: 0;
  }

  /* line 144, ../sass/contact.scss */
  #contactFlowerContainer7 {
    bottom: 0;
    right: 0px;
  }

  /* line 144, ../sass/contact.scss */
  #contactFlowerContainer8 {
    bottom: 0;
    right: 200px;
  }

  /* line 144, ../sass/contact.scss */
  #contactFlowerContainer9 {
    bottom: 0;
    right: 400px;
  }

  /* line 144, ../sass/contact.scss */
  #contactFlowerContainer10 {
    bottom: 0;
    right: 600px;
  }

  /* line 151, ../sass/contact.scss */
  #contactFlowerContainer11 {
    bottom: 200px;
    left: 0;
  }

  /* line 151, ../sass/contact.scss */
  #contactFlowerContainer12 {
    bottom: 400px;
    left: 0;
  }

  /* line 158, ../sass/contact.scss */
  .contactPetal {
    position: absolute;
    width: 120px;
    height: 120px;
  }
}
