/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* atinfo base scss */
/* COMPASS IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Muli|Gruppo");
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
 * - FONTS --------------------------------------------------------------------
*/
@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("/fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'LeagueGothic';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/leaguegothic-condensed-regular-webfont.ttf") format("truetype");
}
/* line 32, ../sass/screen.scss */
html,
body {
  height: 100%;
}

/* line 37, ../sass/screen.scss */
body {
  background-color: #eee;
  overflow: hidden;
}

/* line 43, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 47, ../sass/screen.scss */
a.index {
  color: #fff;
}

/* line 51, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 2, ../sass/index.scss */
#point {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 10, ../sass/index.scss */
#point1 {
  position: absolute;
  background-color: red;
}

/* line 15, ../sass/index.scss */
#point2 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
}

/* line 22, ../sass/index.scss */
#point3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
}

/* line 29, ../sass/index.scss */
#point4 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
}

/* line 45, ../sass/index.scss */
#indexContent {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  border: 1px solid #aaa;
}

/* line 61, ../sass/index.scss */
#root {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -11px;
  height: 2px;
  background-color: #ccc;
}

/* line 72, ../sass/index.scss */
#bar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -1px;
  width: 2px;
  background-color: #ccc;
}

/* line 89, ../sass/index.scss */
#branch1 {
  margin-left: 1px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background-color: #ccc;
}

/* line 95, ../sass/index.scss */
#branch2 {
  margin-left: 1px;
  margin-top: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background-color: #ccc;
}

/* line 108, ../sass/index.scss */
#hline {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  height: 2px;
  background-color: #ccc;
}

/* line 118, ../sass/index.scss */
#hline1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 150px;
  margin-top: -50px;
  height: 2px;
  background-color: #ccc;
}

/* line 125, ../sass/index.scss */
#hline2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 150px;
  margin-top: 48px;
  height: 2px;
  background-color: #ccc;
}

/* line 133, ../sass/index.scss */
#atinfo {
  position: absolute;
  height: 40px;
  width: 135px;
  text-align: right;
  line-height: 40px;
  top: 50%;
  margin-top: -18px;
  font-size: 90px;
  color: #fff;
  font-family: 'LeagueGothic', sans-serif;
}

/* line 164, ../sass/index.scss */
#text1 {
  margin-top: -62px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  white-space: nowrap;
}

/* line 170, ../sass/index.scss */
#text2 {
  margin-top: 35px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  white-space: nowrap;
}

/* line 190, ../sass/index.scss */
#link1 {
  margin-top: -25px;
  position: absolute;
  height: 20px;
  width: 80px;
  left: 160px;
  line-height: 20px;
  top: 50%;
  font-size: 100%;
  color: #fff;
  font-family: 'Muli', sans-serif;
  padding-left: 10px;
}

/* line 195, ../sass/index.scss */
#link2 {
  margin-top: 5px;
  position: absolute;
  height: 20px;
  width: 80px;
  left: 160px;
  line-height: 20px;
  top: 50%;
  font-size: 100%;
  color: #fff;
  font-family: 'Muli', sans-serif;
  padding-left: 10px;
}

@media all and (min-width: 40em) {
  /* line 211, ../sass/index.scss */
  #hline1 {
    margin-top: -100px;
    margin-left: 250px;
  }

  /* line 216, ../sass/index.scss */
  #hline2 {
    margin-left: 250px;
    margin-top: 98px;
  }

  /* line 221, ../sass/index.scss */
  #branch1 {
    margin-top: -100px;
  }

  /* line 225, ../sass/index.scss */
  #branch2 {
    margin-top: 98px;
  }

  /* line 229, ../sass/index.scss */
  #text1 {
    margin-top: -112px;
  }

  /* line 233, ../sass/index.scss */
  #text2 {
    margin-top: 85px;
  }

  /* line 237, ../sass/index.scss */
  #indexContent {
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
  }

  /* line 244, ../sass/index.scss */
  #atinfo {
    height: 40px;
    width: 235px;
    line-height: 40px;
    margin-top: -18px;
    font-size: 160px;
  }

  /* line 259, ../sass/index.scss */
  #text1 {
    margin-top: -112px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    font-size: 50px;
  }

  /* line 264, ../sass/index.scss */
  #text2 {
    margin-top: 85px;
    letter-spacing: 6px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    font-size: 50px;
  }

  /* line 277, ../sass/index.scss */
  #link1 {
    margin-top: -40px;
    font-size: 200%;
    width: 180px;
    left: 260px;
    padding-left: 15px;
  }

  /* line 282, ../sass/index.scss */
  #link2 {
    margin-top: 20px;
    font-size: 200%;
    width: 180px;
    left: 260px;
    padding-left: 15px;
  }
}
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* line 4, ../sass/services.scss */
.mask {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 10;
}

/* line 12, ../sass/services.scss */
#mask {
  margin-top: 250px;
}

/* line 16, ../sass/services.scss */
#mask2 {
  margin-top: -250px;
  transform-origin: 0% 0%;
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* line 22, ../sass/services.scss */
#trunkMask {
  width: 50px;
  height: 500px;
  margin-top: -250px;
  margin-left: -290px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: growTrunk 2s linear forwards;
  -moz-animation: growTrunk 2s linear forwards;
  -o-animation: growTrunk 2s linear forwards;
  animation: growTrunk 2s linear forwards;
}

/* line 36, ../sass/services.scss */
.mask2Container {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* line 41, ../sass/services.scss */
.serviceContainer {
  height: 2000px;
  width: 2000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: auto;
  margin-left: -282px;
  border: 2px solid #333;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-top-left-radius: 1000px;
  -moz-border-radius-bottomleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

@-webkit-keyframes growTrunk {
  0% {
    margin-top: -250px;
  }
  100% {
    margin-top: -750px;
  }
}
@-moz-keyframes growTrunk {
  0% {
    margin-top: -250px;
  }
  100% {
    margin-top: -750px;
  }
}
@-o-keyframes growTrunk {
  0% {
    margin-top: -250px;
  }
  100% {
    margin-top: -750px;
  }
}
@keyframes $growTrunk {
  0% {
    margin-top: -250px;
  }
  100% {
    margin-top: -750px;
  }
}
/* line 65, ../sass/screen.scss */
.screenTopBar {
  position: absolute;
  top: 0;
  width: 100%;
  display: block !important;
  height: 40px;
  background-color: #f0f0f0;
  border-bottom: 1px solid white;
  /* 	@include debug(white); */
}

/* line 76, ../sass/screen.scss */
ul.menu {
  display: table;
}

/* line 81, ../sass/screen.scss */
ul.menu li {
  display: table-cell;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}

/* line 88, ../sass/screen.scss */
ul.menu li a {
  color: #333;
  font-family: 'Muli', sans-serif;
}

/* line 93, ../sass/screen.scss */
.screen {
  display: table;
  width: 100%;
  height: 100% !important;
  font-family: "Gruppo", sans-serif;
  font-size: 100%;
  border: 1px solid red;
}

/* line 102, ../sass/screen.scss */
.cell {
  width: 100% !important;
  display: table-cell;
  vertical-align: middle;
}

/* line 110, ../sass/screen.scss */
#contact .page {
  border: 1px solid red;
  line-height: 2em;
  text-align: left;
}

/*
	-- SERVICES ------------------------------------------------------------------
*/
/* line 125, ../sass/screen.scss */
.droplet {
  border-radius: 50% 90% 10% 95%;
  border-top: 2px solid #eee;
  border-right: 2px solid #eee;
  height: 50px;
  margin: auto;
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* top: 50%;
    right: 50%;*/
  transform-origin: left top;
  opacity: 0;
}

/* line 157, ../sass/screen.scss */
#no1 {
  animation: spin1 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no2 {
  animation: spin2 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no3 {
  animation: spin3 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no4 {
  animation: spin4 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no5 {
  animation: spin5 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no6 {
  animation: spin6 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no7 {
  animation: spin7 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no8 {
  animation: spin8 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no9 {
  animation: spin9 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no10 {
  animation: spin10 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no11 {
  animation: spin11 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no12 {
  animation: spin12 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no13 {
  animation: spin13 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no14 {
  animation: spin14 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no15 {
  animation: spin15 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no16 {
  animation: spin16 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no17 {
  animation: spin17 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no18 {
  animation: spin18 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 157, ../sass/screen.scss */
#no19 {
  animation: spin19 8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 165, ../sass/screen.scss */
#center {
  position: absolute;
  border: 2px solid #eee;
  background-color: #0072BC;
  width: 20px;
  height: 20px;
  top: -10px;
  left: -10px;
  z-index: 20;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: none;
}

/* line 179, ../sass/screen.scss */
#trunk {
  width: 4px;
  height: 10px;
  background-color: black;
  position: relative;
  top: 500px;
  left: -2px;
  animation: grow 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 191, ../sass/screen.scss */
.leaf {
  border-radius: 1% 90%;
  border-style: solid;
  border-width: 2px;
  border-color: #eee;
  height: 100px;
  margin: auto;
  width: 100px;
  position: absolute;
  left: 0px;
  /* top: 50%;
    right: 50%;*/
  transform-origin: left top;
  background-color: #080;
}

/* line 208, ../sass/screen.scss */
#leaf1 {
  top: 500px;
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  animation: leafGrow1 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* line 216, ../sass/screen.scss */
#leaf2 {
  top: 500px;
  -moz-transform: rotateX(180deg) scale(0.01);
  -ms-transform: rotateX(180deg) scale(0.01);
  -webkit-transform: rotateX(180deg) scale(0.01);
  transform: rotateX(180deg) scale(0.01);
  animation: leafGrow2 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

/* line 224, ../sass/screen.scss */
#leaf3 {
  top: 350px;
  left: 2px;
  -moz-transform: rotateZ(180deg) scale(0.01);
  -ms-transform: rotateZ(180deg) scale(0.01);
  -webkit-transform: rotateZ(180deg) scale(0.01);
  transform: rotateZ(180deg) scale(0.01);
  animation: leafGrow3 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

/* line 233, ../sass/screen.scss */
#leaf4 {
  top: 250px;
  left: -2px;
  -moz-transform: rotateX(180deg) scale(0.01);
  -ms-transform: rotateX(180deg) scale(0.01);
  -webkit-transform: rotateX(180deg) scale(0.01);
  transform: rotateX(180deg) scale(0.01);
  animation: leafGrow4 4s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes spin1 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-365deg) scale(0.5);
    -ms-transform: rotate(-365deg) scale(0.5);
    -webkit-transform: rotate(-365deg) scale(0.5);
    transform: rotate(-365deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-365deg) scale(0.5);
    -ms-transform: rotate(-365deg) scale(0.5);
    -webkit-transform: rotate(-365deg) scale(0.5);
    transform: rotate(-365deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-365deg) scale(2);
    -ms-transform: rotate(-365deg) scale(2);
    -webkit-transform: rotate(-365deg) scale(2);
    transform: rotate(-365deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin2 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-345deg) scale(0.5);
    -ms-transform: rotate(-345deg) scale(0.5);
    -webkit-transform: rotate(-345deg) scale(0.5);
    transform: rotate(-345deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-345deg) scale(0.5);
    -ms-transform: rotate(-345deg) scale(0.5);
    -webkit-transform: rotate(-345deg) scale(0.5);
    transform: rotate(-345deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-345deg) scale(2);
    -ms-transform: rotate(-345deg) scale(2);
    -webkit-transform: rotate(-345deg) scale(2);
    transform: rotate(-345deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin3 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-325deg) scale(0.5);
    -ms-transform: rotate(-325deg) scale(0.5);
    -webkit-transform: rotate(-325deg) scale(0.5);
    transform: rotate(-325deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-325deg) scale(0.5);
    -ms-transform: rotate(-325deg) scale(0.5);
    -webkit-transform: rotate(-325deg) scale(0.5);
    transform: rotate(-325deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-325deg) scale(2);
    -ms-transform: rotate(-325deg) scale(2);
    -webkit-transform: rotate(-325deg) scale(2);
    transform: rotate(-325deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin4 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-305deg) scale(0.5);
    -ms-transform: rotate(-305deg) scale(0.5);
    -webkit-transform: rotate(-305deg) scale(0.5);
    transform: rotate(-305deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-305deg) scale(0.5);
    -ms-transform: rotate(-305deg) scale(0.5);
    -webkit-transform: rotate(-305deg) scale(0.5);
    transform: rotate(-305deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-305deg) scale(2);
    -ms-transform: rotate(-305deg) scale(2);
    -webkit-transform: rotate(-305deg) scale(2);
    transform: rotate(-305deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin5 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-285deg) scale(0.5);
    -ms-transform: rotate(-285deg) scale(0.5);
    -webkit-transform: rotate(-285deg) scale(0.5);
    transform: rotate(-285deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-285deg) scale(0.5);
    -ms-transform: rotate(-285deg) scale(0.5);
    -webkit-transform: rotate(-285deg) scale(0.5);
    transform: rotate(-285deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-285deg) scale(2);
    -ms-transform: rotate(-285deg) scale(2);
    -webkit-transform: rotate(-285deg) scale(2);
    transform: rotate(-285deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin6 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-265deg) scale(0.5);
    -ms-transform: rotate(-265deg) scale(0.5);
    -webkit-transform: rotate(-265deg) scale(0.5);
    transform: rotate(-265deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-265deg) scale(0.5);
    -ms-transform: rotate(-265deg) scale(0.5);
    -webkit-transform: rotate(-265deg) scale(0.5);
    transform: rotate(-265deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-265deg) scale(2);
    -ms-transform: rotate(-265deg) scale(2);
    -webkit-transform: rotate(-265deg) scale(2);
    transform: rotate(-265deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin7 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-245deg) scale(0.5);
    -ms-transform: rotate(-245deg) scale(0.5);
    -webkit-transform: rotate(-245deg) scale(0.5);
    transform: rotate(-245deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-245deg) scale(0.5);
    -ms-transform: rotate(-245deg) scale(0.5);
    -webkit-transform: rotate(-245deg) scale(0.5);
    transform: rotate(-245deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-245deg) scale(2);
    -ms-transform: rotate(-245deg) scale(2);
    -webkit-transform: rotate(-245deg) scale(2);
    transform: rotate(-245deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin8 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-225deg) scale(0.5);
    -ms-transform: rotate(-225deg) scale(0.5);
    -webkit-transform: rotate(-225deg) scale(0.5);
    transform: rotate(-225deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-225deg) scale(0.5);
    -ms-transform: rotate(-225deg) scale(0.5);
    -webkit-transform: rotate(-225deg) scale(0.5);
    transform: rotate(-225deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-225deg) scale(2);
    -ms-transform: rotate(-225deg) scale(2);
    -webkit-transform: rotate(-225deg) scale(2);
    transform: rotate(-225deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin9 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-205deg) scale(0.5);
    -ms-transform: rotate(-205deg) scale(0.5);
    -webkit-transform: rotate(-205deg) scale(0.5);
    transform: rotate(-205deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-205deg) scale(0.5);
    -ms-transform: rotate(-205deg) scale(0.5);
    -webkit-transform: rotate(-205deg) scale(0.5);
    transform: rotate(-205deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-205deg) scale(2);
    -ms-transform: rotate(-205deg) scale(2);
    -webkit-transform: rotate(-205deg) scale(2);
    transform: rotate(-205deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin10 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-185deg) scale(0.5);
    -ms-transform: rotate(-185deg) scale(0.5);
    -webkit-transform: rotate(-185deg) scale(0.5);
    transform: rotate(-185deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-185deg) scale(0.5);
    -ms-transform: rotate(-185deg) scale(0.5);
    -webkit-transform: rotate(-185deg) scale(0.5);
    transform: rotate(-185deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-185deg) scale(2);
    -ms-transform: rotate(-185deg) scale(2);
    -webkit-transform: rotate(-185deg) scale(2);
    transform: rotate(-185deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin11 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-165deg) scale(0.5);
    -ms-transform: rotate(-165deg) scale(0.5);
    -webkit-transform: rotate(-165deg) scale(0.5);
    transform: rotate(-165deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-165deg) scale(0.5);
    -ms-transform: rotate(-165deg) scale(0.5);
    -webkit-transform: rotate(-165deg) scale(0.5);
    transform: rotate(-165deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-165deg) scale(2);
    -ms-transform: rotate(-165deg) scale(2);
    -webkit-transform: rotate(-165deg) scale(2);
    transform: rotate(-165deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin12 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-145deg) scale(0.5);
    -ms-transform: rotate(-145deg) scale(0.5);
    -webkit-transform: rotate(-145deg) scale(0.5);
    transform: rotate(-145deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-145deg) scale(0.5);
    -ms-transform: rotate(-145deg) scale(0.5);
    -webkit-transform: rotate(-145deg) scale(0.5);
    transform: rotate(-145deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-145deg) scale(2);
    -ms-transform: rotate(-145deg) scale(2);
    -webkit-transform: rotate(-145deg) scale(2);
    transform: rotate(-145deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin13 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-125deg) scale(0.5);
    -ms-transform: rotate(-125deg) scale(0.5);
    -webkit-transform: rotate(-125deg) scale(0.5);
    transform: rotate(-125deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-125deg) scale(0.5);
    -ms-transform: rotate(-125deg) scale(0.5);
    -webkit-transform: rotate(-125deg) scale(0.5);
    transform: rotate(-125deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-125deg) scale(2);
    -ms-transform: rotate(-125deg) scale(2);
    -webkit-transform: rotate(-125deg) scale(2);
    transform: rotate(-125deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin14 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-105deg) scale(0.5);
    -ms-transform: rotate(-105deg) scale(0.5);
    -webkit-transform: rotate(-105deg) scale(0.5);
    transform: rotate(-105deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-105deg) scale(0.5);
    -ms-transform: rotate(-105deg) scale(0.5);
    -webkit-transform: rotate(-105deg) scale(0.5);
    transform: rotate(-105deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-105deg) scale(2);
    -ms-transform: rotate(-105deg) scale(2);
    -webkit-transform: rotate(-105deg) scale(2);
    transform: rotate(-105deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin15 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-85deg) scale(0.5);
    -ms-transform: rotate(-85deg) scale(0.5);
    -webkit-transform: rotate(-85deg) scale(0.5);
    transform: rotate(-85deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-85deg) scale(0.5);
    -ms-transform: rotate(-85deg) scale(0.5);
    -webkit-transform: rotate(-85deg) scale(0.5);
    transform: rotate(-85deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-85deg) scale(2);
    -ms-transform: rotate(-85deg) scale(2);
    -webkit-transform: rotate(-85deg) scale(2);
    transform: rotate(-85deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin16 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-65deg) scale(0.5);
    -ms-transform: rotate(-65deg) scale(0.5);
    -webkit-transform: rotate(-65deg) scale(0.5);
    transform: rotate(-65deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-65deg) scale(0.5);
    -ms-transform: rotate(-65deg) scale(0.5);
    -webkit-transform: rotate(-65deg) scale(0.5);
    transform: rotate(-65deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-65deg) scale(2);
    -ms-transform: rotate(-65deg) scale(2);
    -webkit-transform: rotate(-65deg) scale(2);
    transform: rotate(-65deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin17 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -webkit-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -webkit-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-45deg) scale(2);
    -ms-transform: rotate(-45deg) scale(2);
    -webkit-transform: rotate(-45deg) scale(2);
    transform: rotate(-45deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes spin18 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-25deg) scale(0.5);
    -ms-transform: rotate(-25deg) scale(0.5);
    -webkit-transform: rotate(-25deg) scale(0.5);
    transform: rotate(-25deg) scale(0.5);
    background-color: #ddd;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-25deg) scale(0.5);
    -ms-transform: rotate(-25deg) scale(0.5);
    -webkit-transform: rotate(-25deg) scale(0.5);
    transform: rotate(-25deg) scale(0.5);
    background-color: #0072BC;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-25deg) scale(2);
    -ms-transform: rotate(-25deg) scale(2);
    -webkit-transform: rotate(-25deg) scale(2);
    transform: rotate(-25deg) scale(2);
    background-color: #0072BC;
    opacity: 0.5;
  }
}
@keyframes spin19 {
  0% {
    opacity: 0;
    -moz-transform: rotate(-5deg) scale(0.01);
    -ms-transform: rotate(-5deg) scale(0.01);
    -webkit-transform: rotate(-5deg) scale(0.01);
    transform: rotate(-5deg) scale(0.01);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(-5deg) scale(0.5);
    -ms-transform: rotate(-5deg) scale(0.5);
    -webkit-transform: rotate(-5deg) scale(0.5);
    transform: rotate(-5deg) scale(0.5);
    background-color: #fff;
  }
  60% {
    opacity: 1;
    -moz-transform: rotate(-5deg) scale(0.5);
    -ms-transform: rotate(-5deg) scale(0.5);
    -webkit-transform: rotate(-5deg) scale(0.5);
    transform: rotate(-5deg) scale(0.5);
    background-color: #0ac;
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(-5deg) scale(2);
    -ms-transform: rotate(-5deg) scale(2);
    -webkit-transform: rotate(-5deg) scale(2);
    transform: rotate(-5deg) scale(2);
    background-color: #0ac;
    opacity: 0.5;
  }
}
@keyframes grow {
  from {
    height: 0px;
  }
  to {
    top: 50px;
    height: 450px;
  }
}
@keyframes leafGrow1 {
  from {
    -moz-transform: scale(0.01) rotateZ(180deg);
    -ms-transform: scale(0.01) rotateZ(180deg);
    -webkit-transform: scale(0.01) rotateZ(180deg);
    transform: scale(0.01) rotateZ(180deg);
  }
  to {
    -moz-transform: scale(1) rotateZ(180deg);
    -ms-transform: scale(1) rotateZ(180deg);
    -webkit-transform: scale(1) rotateZ(180deg);
    transform: scale(1) rotateZ(180deg);
  }
}
@keyframes leafGrow2 {
  from {
    -moz-transform: scale(0.01) rotateX(180deg);
    -ms-transform: scale(0.01) rotateX(180deg);
    -webkit-transform: scale(0.01) rotateX(180deg);
    transform: scale(0.01) rotateX(180deg);
  }
  to {
    -moz-transform: scale(1) rotateX(180deg);
    -ms-transform: scale(1) rotateX(180deg);
    -webkit-transform: scale(1) rotateX(180deg);
    transform: scale(1) rotateX(180deg);
  }
}
@keyframes leafGrow3 {
  from {
    -moz-transform: scale(0.01) rotateX(180deg);
    -ms-transform: scale(0.01) rotateX(180deg);
    -webkit-transform: scale(0.01) rotateX(180deg);
    transform: scale(0.01) rotateX(180deg);
  }
  to {
    -moz-transform: scale(0.8) rotateX(180deg);
    -ms-transform: scale(0.8) rotateX(180deg);
    -webkit-transform: scale(0.8) rotateX(180deg);
    transform: scale(0.8) rotateX(180deg);
  }
}
@keyframes leafGrow4 {
  from {
    -moz-transform: scale(0.01) rotateZ(180deg);
    -ms-transform: scale(0.01) rotateZ(180deg);
    -webkit-transform: scale(0.01) rotateZ(180deg);
    transform: scale(0.01) rotateZ(180deg);
  }
  to {
    -moz-transform: scale(0.6) rotateZ(180deg);
    -ms-transform: scale(0.6) rotateZ(180deg);
    -webkit-transform: scale(0.6) rotateZ(180deg);
    transform: scale(0.6) rotateZ(180deg);
  }
}
/*
	-- FORMS ---------------------------------------------------------------------
*/
/* line 478, ../sass/screen.scss */
[type="text"], [type="email"], textarea {
  font-family: Muli;
  color: #222;
  background-color: #eee;
  border: none;
  border-bottom: solid 1px #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 489, ../sass/screen.scss */
[type="text"]:focus, [type="email"]:focus, textarea:focus {
  background-color: #eee;
}

/* line 493, ../sass/screen.scss */
textarea {
  width: 100%;
}

/* line 497, ../sass/screen.scss */
.formErrors {
  color: red;
  font-size: 80%;
  line-height: 1em;
}

@media all and (min-width: 40em) {
  /* line 505, ../sass/screen.scss */
  #contact .page, #services .page {
    font-size: 200%;
    width: 600px;
    margin: auto;
  }

  /* line 511, ../sass/screen.scss */
  [type="text"], [type="email"], textarea {
    font-size: 70%;
  }
}
