/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* atinfo base scss */
/* COMPASS IMPORTS */
/* @import "compass/reset"; */
/* OWN MIXINS */
/* Simple animation with named arguments */
/*
 * - FONTS --------------------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css?family=Muli");
@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("/fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'LeagueGothic';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/leaguegothic-condensed-regular-webfont.ttf") format("truetype");
}
/* line 27, ../sass/screen.scss */
body {
  background-color: #eee;
  overflow: hidden;
}

/* line 39, ../sass/screen.scss */
#point {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 47, ../sass/screen.scss */
#point1 {
  position: absolute;
  background-color: red;
}

/* line 52, ../sass/screen.scss */
#point2 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
}

/* line 59, ../sass/screen.scss */
#point3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
}

/* line 66, ../sass/screen.scss */
#point4 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: red;
}

/* line 82, ../sass/screen.scss */
#indexContent {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
}

/* line 98, ../sass/screen.scss */
#root {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -11px;
  height: 2px;
  background-color: #ccc;
}

/* line 109, ../sass/screen.scss */
#bar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -1px;
  width: 2px;
  background-color: #ccc;
}

/* line 126, ../sass/screen.scss */
#branch1 {
  margin-left: 1px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background-color: #ccc;
}

/* line 132, ../sass/screen.scss */
#branch2 {
  margin-left: 1px;
  margin-top: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background-color: #ccc;
}

/* line 145, ../sass/screen.scss */
#hline {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -1px;
  height: 2px;
  background-color: #ccc;
}

/* line 155, ../sass/screen.scss */
#hline1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 150px;
  margin-top: -50px;
  height: 2px;
  background-color: #ccc;
}

/* line 162, ../sass/screen.scss */
#hline2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 150px;
  margin-top: 48px;
  height: 2px;
  background-color: #ccc;
}

/* line 170, ../sass/screen.scss */
#atinfo {
  position: absolute;
  height: 40px;
  width: 135px;
  text-align: right;
  line-height: 40px;
  top: 50%;
  margin-top: -18px;
  font-size: 90px;
  color: #fff;
  font-family: 'LeagueGothic', sans-serif;
}

/* line 201, ../sass/screen.scss */
#text1 {
  margin-top: -62px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  white-space: nowrap;
}

/* line 207, ../sass/screen.scss */
#text2 {
  margin-top: 35px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  white-space: nowrap;
}

/* line 226, ../sass/screen.scss */
#link1 {
  margin-top: -25px;
  position: absolute;
  height: 20px;
  width: 80px;
  right: 50px;
  line-height: 20px;
  top: 50%;
  font-size: 100%;
  color: #666;
  font-family: 'Muli', sans-serif;
  text-align: center;
}

/* line 231, ../sass/screen.scss */
#link2 {
  margin-top: 5px;
  position: absolute;
  height: 20px;
  width: 80px;
  right: 50px;
  line-height: 20px;
  top: 50%;
  font-size: 100%;
  color: #666;
  font-family: 'Muli', sans-serif;
  text-align: center;
}

@media all and (min-width: 40em) {
  /* line 245, ../sass/screen.scss */
  #hline1 {
    margin-top: -100px;
    margin-left: 250px;
  }

  /* line 250, ../sass/screen.scss */
  #hline2 {
    margin-left: 250px;
    margin-top: 98px;
  }

  /* line 255, ../sass/screen.scss */
  #branch1 {
    margin-top: -100px;
  }

  /* line 259, ../sass/screen.scss */
  #branch2 {
    margin-top: 98px;
  }

  /* line 263, ../sass/screen.scss */
  #text1 {
    margin-top: -112px;
  }

  /* line 267, ../sass/screen.scss */
  #text2 {
    margin-top: 85px;
  }

  /* line 271, ../sass/screen.scss */
  #indexContent {
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
  }

  /* line 278, ../sass/screen.scss */
  #atinfo {
    height: 40px;
    width: 235px;
    line-height: 40px;
    margin-top: -18px;
    font-size: 160px;
  }

  /* line 293, ../sass/screen.scss */
  #text1 {
    margin-top: -112px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    font-size: 50px;
  }

  /* line 298, ../sass/screen.scss */
  #text2 {
    margin-top: 85px;
    letter-spacing: 6px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    font-size: 50px;
  }
}
