/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* atinfo base scss */
/* COMPASS IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Muli|Gruppo");
/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/*
 * - FONTS --------------------------------------------------------------------
*/
@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("/fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'LeagueGothic';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/leaguegothic-condensed-regular-webfont.ttf") format("truetype");
}
/* line 33, ../sass/screen.scss */
html,
body {
  height: 100%;
  color: #333;
}

/* line 39, ../sass/screen.scss */
body {
  background-color: #eee;
  overflow: hidden;
}

/* line 44, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 48, ../sass/screen.scss */
a.index {
  color: #fff;
}

/* line 52, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 60, ../sass/screen.scss */
.screenTopBar {
  position: absolute;
  top: 0;
  width: 100%;
  display: block !important;
  height: 40px;
  background-color: #f0f0f0;
  border-bottom: 1px solid white;
  z-index: 100;
}

/* line 71, ../sass/screen.scss */
ul.menu {
  display: table;
}

/* line 75, ../sass/screen.scss */
ul.menu li {
  display: table-cell;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}

/* line 82, ../sass/screen.scss */
ul.menu li a {
  color: #333;
  font-family: 'Muli', sans-serif;
}

/*
	-- FORMS ---------------------------------------------------------------------
*/
/* line 92, ../sass/screen.scss */
[type="text"], [type="email"], textarea {
  font-family: Muli;
  font-size: 80%;
  color: #222;
  background-color: #eee;
  border: none;
  border: solid 1px #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 90%;
  display: inline;
}

/* line 105, ../sass/screen.scss */
[type="text"], [type="email"] {
  height: 20px;
}

/* line 110, ../sass/screen.scss */
[type="text"]:focus, [type="email"]:focus, textarea:focus {
  background-color: #eee;
}

/* line 114, ../sass/screen.scss */
textarea {
  resize: none;
}

/* line 118, ../sass/screen.scss */
[type="submit"] {
  line-height: 25px;
  width: 100%;
  font-family: 'Gruppo', sans-serif;
}

/* line 124, ../sass/screen.scss */
.formErrors {
  color: red;
  font-size: 80%;
  line-height: 1em;
  font-family: cd we;
}

/* line 131, ../sass/screen.scss */
div.name, div.email {
  height: 50px;
  line-height: 50px;
}

/* line 136, ../sass/screen.scss */
div.message {
  height: 100px;
  line-height: 100px;
}

/* line 141, ../sass/screen.scss */
textarea {
  height: 60px;
  margin: 15px 0;
}

/* line 147, ../sass/screen.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 148, ../sass/screen.scss */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 149, ../sass/screen.scss */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 150, ../sass/screen.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 153, ../sass/screen.scss */
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 154, ../sass/screen.scss */
textarea:focus:-moz-placeholder {
  color: transparent;
}

/* line 155, ../sass/screen.scss */
textarea:focus::-moz-placeholder {
  color: transparent;
}

/* line 156, ../sass/screen.scss */
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

@media all and (min-width: 40em) {
  /* line 161, ../sass/screen.scss */
  [type="text"], [type="email"], textarea {
    font-size: 200%;
  }

  /* line 165, ../sass/screen.scss */
  [type="text"], [type="email"] {
    height: 50px;
  }

  /* line 169, ../sass/screen.scss */
  [type="submit"] {
    line-height: 50px;
    font-size: 200%;
  }

  /* line 174, ../sass/screen.scss */
  .formErrors {
    font-size: 150%;
    margin-bottom: 20px;
  }

  /* line 179, ../sass/screen.scss */
  div.name, div.email {
    height: 100px;
    line-height: 100px;
  }

  /* line 184, ../sass/screen.scss */
  div.message {
    height: 200px;
    line-height: 200px;
  }

  /* line 189, ../sass/screen.scss */
  textarea {
    height: 150px;
    margin: 25px 0;
  }
}
