// @import "base";
// @import "common";


$indexContentSize: 250px;                                       // 250

$indexTextContainerWidth:   $indexContentSize;                  // 250
$indexTextContainerHeight: $indexContentSize / 2;               // 125

$atinfoHeight:    $indexContentSize / 5;                        //  50
$atinfoTopMargin: $atinfoHeight / 5;                            //  10

$indexTextHeight: $indexTextContainerHeight / 25 * 6;           //  30

$navHeight: $indexTextContainerHeight / 25 * 4;                 //  12.5


$flowerContainerMargin: $indexContentSize / 10;                 //  25

$indexPetalHeight: $indexContentSize / 2;                       // 125
$indexPetalWidth:  $indexContentSize / 7;                       //  35.5


/* -- CONTENT -- */
#indexContent {
    @include abs-centered();
    width:             $indexContentSize;
    height:            $indexContentSize;
    margin-top:  - $indexContentSize / 2;
    margin-left: - $indexContentSize / 2;
    @include debug(green);
}


/*
	-- INDEX TEXT ----------------------------------------------------------------
*/
#indexTextContainer {
    position:                          absolute;
    top:                                    0px;
    left:                                   0px;
    width:             $indexTextContainerWidth;
    height:           $indexTextContainerHeight;
    margin-left: - $indexTextContainerWidth / 4;
    margin-top:                             0px;
    background-color:                 $bg-color;
    text-align:                          center;
    @include animation("animIndexTextContainer 2s ease-out forwards");
}

@include keyframes(animIndexTextContainer) {
    0% {
        top:                             50%;
        left:                            50%;
        margin-top:  - $indexContentSize / 2;
        margin-left: - $indexContentSize / 2;
    }
    50% {
        top:                             50%;
        left:                            50%;
        margin-top:  - $indexContentSize / 2;
        margin-left: - $indexContentSize / 2;
    }
    100% {
        top:                             50%;
        left:        - $indexContentSize / 4;
        margin-top:  - $indexContentSize / 2;
        margin-left:                     0px;
    }
}


/* -- atinfo -- */
#atinfo {
    position:                relative;
    top:                            0;
    height:             $atinfoHeight;
    line-height:        $atinfoHeight;
    width:                       100%;
    margin-top:     -$atinfoTopMargin;
    font-size:                   50px;
    text-align:                center;
    color :                      #222;
    font-family: 'Gruppo', sans-serif;
    @include animation("animAtinfo 1s ease-out 3s forwards");
    // @include debug(blue);
}

@include keyframes(animAtinfo) {
    0% {
        color: #222;
    }
    100% {
        color: #0072BC;
    }
}


/* -- texts -- */
.indexText {
    position:                   relative;
    width:                          100%;
    height:             $indexTextHeight;
    line-height:        $indexTextHeight;
    font-family: 'BebasNeue', sans-serif;
    font-size:                      20px;
}

#indexText1 {
    letter-spacing: 3px;
}

#indexText2 {
    letter-spacing: 1px;
}


/* -- navigation -- */
.nav {
    position:              relative;
    width:                     100%;
    height:              $navHeight;
    font-family: 'Muli', sans-serif;
    text-align:              center;
    letter-spacing:             1px;
    @include debug(red);

}

.nav a {
    height:      $navHeight;
    line-height: $navHeight;
    color:             #555;
    font-size:          80%;
    padding:          0 5px;
    @include debug(blue);
}

.nav a:hover {
    color: #222;
}


/* -- info -- */
.info {
    position:              relative;
    width:                     100%;
    height:                    20px;
    line-height:               20px;
    color:                     #999;
    font-family: 'Muli', sans-serif;
    font-size:                  70%;
}


/*
	-- FLOWER --------------------------------------------------------------------
*/
#flowerContainer {
    position:                  absolute;
    top:                            50%;
    left:                           50%;
    width:                          1px;
    height:                         1px;
    margin-top:  $flowerContainerMargin;
    margin-left: $flowerContainerMargin;
}

.indexPetal {
    position:                  absolute;
    top:                              0;
    left:                             0;
    height:           $indexPetalHeight;
    width:             $indexPetalWidth;
    border-radius:     10% 90% 10% 95%;
    border-top:     1px solid $bg-color;
    border-left:    1px solid $bg-color;
    margin:                        auto;
    transform-origin:          left top;
    opacity:                        0.8;
    background-color:               red;
    z-index:                         20;
}



// animation
@mixin defineIndexPetalAnim($anim) {
    @include animation("#{$anim} 3s ease-out forwards");
}


// start angle
$indexAngleOffset: 193deg;
$indexAngleStep: 7.5deg;


// create petal ids and add animation
@for $i from 1 through 36 {
    #indexPetal#{$i} {
        @include defineIndexPetalAnim( "spin#{$i}");
        @include transform(rotate($indexAngleOffset + ( $indexAngleStep * ( 37 - $i) )));
        background-color: hsl( ( ($i - 1) * 10 ), 100%, 50%);
    }
}



// petal angles
$indexSpin1Angle:  $indexAngleStep * 36;
$indexSpin2Angle:  $indexAngleStep * 35;
$indexSpin3Angle:  $indexAngleStep * 34;
$indexSpin4Angle:  $indexAngleStep * 33;
$indexSpin5Angle:  $indexAngleStep * 32;
$indexSpin6Angle:  $indexAngleStep * 31;
$indexSpin7Angle:  $indexAngleStep * 30;
$indexSpin8Angle:  $indexAngleStep * 29;
$indexSpin9Angle:  $indexAngleStep * 28;
$indexSpin10Angle: $indexAngleStep * 27;
$indexSpin11Angle: $indexAngleStep * 26;
$indexSpin12Angle: $indexAngleStep * 25;
$indexSpin13Angle: $indexAngleStep * 24;
$indexSpin14Angle: $indexAngleStep * 23;
$indexSpin15Angle: $indexAngleStep * 22;
$indexSpin16Angle: $indexAngleStep * 21;
$indexSpin17Angle: $indexAngleStep * 20;
$indexSpin18Angle: $indexAngleStep * 19;
$indexSpin19Angle: $indexAngleStep * 18;
$indexSpin20Angle: $indexAngleStep * 17;
$indexSpin21Angle: $indexAngleStep * 16;
$indexSpin22Angle: $indexAngleStep * 15;
$indexSpin23Angle: $indexAngleStep * 14;
$indexSpin24Angle: $indexAngleStep * 13;
$indexSpin25Angle: $indexAngleStep * 12;
$indexSpin26Angle: $indexAngleStep * 11;
$indexSpin27Angle: $indexAngleStep * 10;
$indexSpin28Angle: $indexAngleStep * 9;
$indexSpin29Angle: $indexAngleStep * 8;
$indexSpin30Angle: $indexAngleStep * 7;
$indexSpin31Angle: $indexAngleStep * 6;
$indexSpin32Angle: $indexAngleStep * 5;
$indexSpin33Angle: $indexAngleStep * 4;
$indexSpin34Angle: $indexAngleStep * 3;
$indexSpin35Angle: $indexAngleStep * 2;
$indexSpin36Angle: $indexAngleStep;

@mixin indexAnimStart {
    opacity: 0;
    @include transform(rotate($indexAngleOffset) scale(0.01));
}

@mixin indexAnimEnd($angle,$scale) {
    opacity: 1;
    @include transform(rotate($angle) scale($scale));
}

@mixin createIndexAnim($name, $angle, $startColor, $endColor) {

    @include keyframes(#{$name}) {
        0% {
            @include indexAnimStart;
            background-color: $startColor;
            opacity: 0;
        }
        66% {
            @include indexAnimStart;
            background-color: $startColor;
            opacity: 0;

        }
        100% {
            @include indexAnimEnd($angle, 1);
            background-color: $endColor;
            opacity: 0.8;
        }
    }
}

@include createIndexAnim("spin1", $indexAngleOffset + $indexSpin1Angle, $bgGrey1, hsl(0, 100%, 50%));
@include createIndexAnim("spin2", $indexAngleOffset + $indexSpin2Angle, $bgGrey2, hsl(10, 100%, 50%));
@include createIndexAnim("spin3", $indexAngleOffset + $indexSpin3Angle, $bgGrey1, hsl(20, 100%, 50%));
@include createIndexAnim("spin4", $indexAngleOffset + $indexSpin4Angle, $bgGrey2, hsl(30, 100%, 50%));
@include createIndexAnim("spin5", $indexAngleOffset + $indexSpin5Angle, $bgGrey1, hsl(40, 100%, 50%));
@include createIndexAnim("spin6", $indexAngleOffset + $indexSpin6Angle, $bgGrey2, hsl(50, 100%, 50%));
@include createIndexAnim("spin7", $indexAngleOffset + $indexSpin7Angle, $bgGrey1, hsl(60, 100%, 50%));
@include createIndexAnim("spin8", $indexAngleOffset + $indexSpin8Angle, $bgGrey2, hsl(70, 100%, 50%));
@include createIndexAnim("spin9", $indexAngleOffset + $indexSpin9Angle, $bgGrey1, hsl(80, 100%, 50%));
@include createIndexAnim("spin10", $indexAngleOffset + $indexSpin10Angle, $bgGrey2, hsl(90, 100%, 50%));
@include createIndexAnim("spin11", $indexAngleOffset + $indexSpin11Angle, $bgGrey1, hsl(100, 100%, 50%));
@include createIndexAnim("spin12", $indexAngleOffset + $indexSpin12Angle, $bgGrey2, hsl(110, 100%, 50%));
@include createIndexAnim("spin13", $indexAngleOffset + $indexSpin13Angle, $bgGrey1, hsl(120, 100%, 50%));
@include createIndexAnim("spin14", $indexAngleOffset + $indexSpin14Angle, $bgGrey2, hsl(130, 100%, 50%));
@include createIndexAnim("spin15", $indexAngleOffset + $indexSpin15Angle, $bgGrey1, hsl(140, 100%, 50%));
@include createIndexAnim("spin16", $indexAngleOffset + $indexSpin16Angle, $bgGrey2, hsl(150, 100%, 50%));
@include createIndexAnim("spin17", $indexAngleOffset + $indexSpin17Angle, $bgGrey1, hsl(160, 100%, 50%));
@include createIndexAnim("spin18", $indexAngleOffset + $indexSpin18Angle, $bgGrey2, hsl(170, 100%, 50%));
@include createIndexAnim("spin19", $indexAngleOffset + $indexSpin19Angle, $bgGrey1, hsl(180, 100%, 50%));
@include createIndexAnim("spin20", $indexAngleOffset + $indexSpin20Angle, $bgGrey2, hsl(190, 100%, 50%));
@include createIndexAnim("spin21", $indexAngleOffset + $indexSpin21Angle, $bgGrey1, hsl(200, 100%, 50%));
@include createIndexAnim("spin22", $indexAngleOffset + $indexSpin22Angle, $bgGrey2, hsl(210, 100%, 50%));
@include createIndexAnim("spin23", $indexAngleOffset + $indexSpin23Angle, $bgGrey1, hsl(220, 100%, 50%));
@include createIndexAnim("spin24", $indexAngleOffset + $indexSpin24Angle, $bgGrey2, hsl(230, 100%, 50%));
@include createIndexAnim("spin25", $indexAngleOffset + $indexSpin25Angle, $bgGrey1, hsl(240, 100%, 50%));
@include createIndexAnim("spin26", $indexAngleOffset + $indexSpin26Angle, $bgGrey2, hsl(250, 100%, 50%));
@include createIndexAnim("spin27", $indexAngleOffset + $indexSpin27Angle, $bgGrey1, hsl(260, 100%, 50%));
@include createIndexAnim("spin28", $indexAngleOffset + $indexSpin28Angle, $bgGrey2, hsl(270, 100%, 50%));
@include createIndexAnim("spin29", $indexAngleOffset + $indexSpin29Angle, $bgGrey1, hsl(280, 100%, 50%));
@include createIndexAnim("spin30", $indexAngleOffset + $indexSpin30Angle, $bgGrey2, hsl(290, 100%, 50%));
@include createIndexAnim("spin31", $indexAngleOffset + $indexSpin31Angle, $bgGrey1, hsl(300, 100%, 50%));
@include createIndexAnim("spin32", $indexAngleOffset + $indexSpin32Angle, $bgGrey2, hsl(310, 100%, 50%));
@include createIndexAnim("spin33", $indexAngleOffset + $indexSpin33Angle, $bgGrey1, hsl(320, 100%, 50%));
@include createIndexAnim("spin34", $indexAngleOffset + $indexSpin34Angle, $bgGrey2, hsl(330, 100%, 50%));
@include createIndexAnim("spin35", $indexAngleOffset + $indexSpin35Angle, $bgGrey1, hsl(340, 100%, 50%));
@include createIndexAnim("spin36", $indexAngleOffset + $indexSpin36Angle, $bgGrey2, hsl(350, 100%, 50%));



@media all and (min-width: $breadkpoint) and (min-height: $breadkpoint) {

    @import "index_bp_1";
}
