
$indexContentSize: 500px;                                       // 500

$indexTextContainerWidth:   $indexContentSize;                  // 500
$indexTextContainerHeight: $indexContentSize / 2;               // 250

$atinfoHeight:    $indexContentSize / 5;                        // 100
$atinfoTopMargin: $atinfoHeight / 5;                            //  20

$indexTextHeight: $indexTextContainerHeight / 25 * 6;           //  60

$navHeight: $indexTextContainerHeight / 10;                     //  25


$flowerContainerMargin: $indexContentSize / 10;                 //  50

$indexPetalHeight: $indexContentSize / 2;                       // 250
$indexPetalWidth:  $indexContentSize / 7;                       //  71


/* -- CONTENT -- */
#indexContent {
    width:             $indexContentSize;
    height:            $indexContentSize;
    margin-top:  - $indexContentSize / 2;
    margin-left: - $indexContentSize / 2;
}


/*
	-- INDEX TEXT ----------------------------------------------------------------
*/
#indexTextContainer {
    width:             $indexTextContainerWidth;
    height:           $indexTextContainerHeight;
    margin-left: - $indexTextContainerWidth / 4;
}

@include keyframes(animIndexTextContainer) {
    0% {
        top:                             50%;
        left:                            50%;
        margin-top:                   -150px;
        margin-left: - $indexContentSize / 2;
    }
    50% {
        top:                             50%;
        left:                            50%;
        margin-top:                   -150px;
        margin-left: - $indexContentSize / 2;
    }
    100% {
        top:                             50%;
        left:        - $indexContentSize / 4;
        margin-top:  - $indexContentSize / 2;
        margin-left:                     0px;
    }
}


/* -- atinfo -- */
#atinfo {
    margin-top: -$atinfoTopMargin;
    height:         $atinfoHeight;
    line-height:    $atinfoHeight;
    font-size:              120px;
}




/* -- texts -- */
.indexText {
    height:      $indexTextHeight;
    line-height: $indexTextHeight;
    font-size:               40px;
}

#indexText1 {
    letter-spacing: 3px;
}

#indexText2 {
    letter-spacing: 1px;
}


/* -- navigation -- */
.nav {
    height: $navHeight;
}

.nav a {
    height:      $navHeight;
    line-height: $navHeight;
    font-size:         150%;
    padding:         0 10px;
}




/* -- info -- */
.info {
    padding:   5px;
    font-size: 90%;
}


/*
	-- FLOWER --------------------------------------------------------------------
*/
#flowerContainer {
    margin-top:  $flowerContainerMargin;
    margin-left: $flowerContainerMargin;
}

.indexPetal {
    height: $indexPetalHeight;
    width:  $indexPetalWidth;
}
