$XOffset: 50px;

$servicesContentSize: 500px;                                        // 500

$maskMargin: $servicesContentSize / 2;                              // 250

$trunkMaskWidth: $servicesContentSize / 10;                         //  50

$trunkMaskTopMargin: $servicesContentSize + $maskMargin - $YOffset; // 700
$trunkMaskStartTopMargin: $maskMargin - $YOffset;                   // 200

$trunkMaskLeftMargin: ($servicesContentSize / 2) + $trunkMaskWidth; // 270

$servicesContentTextSize: $servicesContentSize * 3 / 4;             // 375

$leafSize: $servicesContentSize / 5;                                // 100

$leaf3Margin: $servicesContentSize / 10 * 3;                        // 150
$leaf4Margin: $servicesContentSize / 2;                             // 250

$bigStemSize: $servicesContentSize / 4;                             // 125

$stemSize: $bigStemSize / 5;                                        //  25

$stemWidth : $bigStemSize / 10;                                     //  12.5

$centerSize : $leafSize / 2;                                        //  50


/*
	-- TOP AND BOTTOM MASKS ------------------------------------------------------
*/


#mask {
    margin-top: $maskMargin + $YOffset;
}

#mask2 {
    margin-top: - $maskMargin + $YOffset;
}




/*
	-- CONTENT -------------------------------------------------------------------
*/
#servicesContent {
    height:                         $servicesContentSize;
    width:                          $servicesContentSize;
    margin-top:  - ($servicesContentSize / 2) + $YOffset;
    margin-left: - ($servicesContentSize / 2) + $XOffset;
}

#servicesContentText {

    width:  $servicesContentTextSize;
    height: $servicesContentTextSize;
    font-size:                  90px;
}


/*
	-- INDEX SPANS ---------------------------------------------------------------
*/
#indexSpan1 {
    height: $servicesContentTextSize / 4;
}

#indexSpan2 {
    height: $servicesContentTextSize / 2;
}

#indexSpan3 {
    height: $servicesContentTextSize / 4;
    top: -40px;
}

#indexSpan4 {
    height: $servicesContentTextSize / 4;
    top: -35px;
    font-size: 150px;
}


/*
	-- TRUNK ---------------------------------------------------------------------
*/

$trunkRadius: 4000px;

#trunk {
  height:                       $trunkRadius;
  width:                        $trunkRadius;
  border:                     3px solid #333;
  margin-left:             -266px + $XOffset;
  margin-top: -($trunkRadius / 2) + $YOffset;
  @include border-left-radius($trunkRadius);
}

#trunkMask {
    height:        $servicesContentSize;
    width:              $trunkMaskWidth;
    margin-top:   - $trunkMaskTopMargin;
    margin-left: - $trunkMaskLeftMargin + $XOffset + 10;
}

@include keyframes(growTrunk) {
  0%   { margin-top: - $trunkMaskStartTopMargin; }
  100% { margin-top: - $trunkMaskTopMargin; }
}


/*
	-- LEAVES --------------------------------------------------------------------
*/
.leaf {
    height: $leafSize;
    width:  $leafSize;
    left:         0px;
    bottom:       0px;
}

#leaf1 {
    bottom: - $leafSize + 5;
    left:             -10px;
    // display: none;
}

#leaf2 {
    bottom: - $leafSize + 5;
    left:               9px;
    // display: none;
}

#leaf3 {
    bottom: - $leafSize + $leaf3Margin;
    margin-left: -10px;
}

#leaf4 {
    bottom: - $leafSize + $leaf4Margin;
    left: -10px;
}


#bigStem {
    width:      $bigStemSize;
    height:       $stemWidth;
    left:              -25px;
    top:                27px;
    border-top: 4px solid #070;
    // z-index: 20;
}

.stem {
    width:                 $stemWidth;
    height:                 $stemSize;
    border-left: 2px solid $stemColor;
}

.stem1 {
    left: 15px;
    top: 15px;
}

.stem2 {
    left: 46px;
    top: 14px;
}

.stem3 {
    left: 50px;
    top:  45px;
}


/*
	-- CENTER --------------------------------------------------------------------
*/
#serviceCenter {
    width: $centerSize;
    height: $centerSize;
    top: -$centerSize / 2;
    left: -$centerSize / 2;
    @include border-radius($centerSize);
}


/*
	-- PETALS --------------------------------------------------------------------
*/
.servicePetal {
    border-top:    2px solid $bg-color;
    border-right:  2px solid $bg-color;
    height:                  $leafSize;
    width:                   $leafSize;
}
