@import "base";
@import "common";


$contactContentWidth: 300px;
$contactContentHeight: 300px;

#contactContent {
    @include abs-centered();
    height: $contactContentHeight;
    width: $contactContentWidth;
    margin-top: - ($contactContentHeight / 2) + 25px;
    margin-left: - $contactContentWidth / 2;
    text-align: center;
    // @include debug(red);
}


#contactContent h1 {
    padding: 0 0 10px 0;
    height: 25px;
    line-height: 25px;
    font-size: 150%;
    font-family: 'Gruppo', sans-serif;
}

#contactContent p {
    padding: 5px 0;
}

.open-brace-position {
    float: left;
    margin: 5px 0;
}

.close-brace-position {
    float: right;
    margin: 10px 0;
}


.normalButton {
    border:1px solid #aaa;
    @include background-image(
        linear-gradient(rgba(255,255,255, 1), rgba(0,0,0, 0.05))
    );
    color: #aaa;
    background-color: #e9e9e9;
}


.activeButton {
    color: #ccc;
    background-color: #f00;
    border-color: #a00;
    @include background-image(
        linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0, 0.2))
    );
}

.activeButton:hover {
    color: #ddd;
    // background-color: red;
    // border-color: #a00;
    @include background-image(
        linear-gradient(rgba(255,255,255, 0.2), rgba(0,0,0, 0.1))
    );
}

@mixin curly-brace-open($name,$curly-brace-height: 200px, $curly-border-size: 5px, $curly-brace-width: 20px) {

    .#{$name}-curly-brace-open {

        height: $curly-brace-height;
        width: $curly-brace-width;
        display: inline-block;
    }

    .#{$name}-curly-brace-open .b1 {
        width: 100%;
        height: 10%;
        border-left: $curly-border-size solid;
        border-top-left-radius: $curly-brace-width;
    }

    .#{$name}-curly-brace-open .b2 {
        margin-left: - $curly-brace-width;
        width: 100%;
        height: 30%;
        border-right: $curly-border-size solid;
    }

    .#{$name}-curly-brace-open .b3 {
        margin-left: - $curly-brace-width;
        width: 100%;
        height: 10%;
        border-right: $curly-border-size solid;
        border-bottom-right-radius: $curly-brace-width
    }

    .#{$name}-curly-brace-open .b4 {
        margin-left: - $curly-brace-width;
        width: 100%;
        height: 10%;
        border-right: $curly-border-size solid;
        border-top-right-radius: $curly-brace-width;
    }

    .#{$name}-curly-brace-open .b5 {
        margin-left: - $curly-brace-width;
        width: 100%;
        height: 30%;
        border-right: $curly-border-size solid;
    }

    .#{$name}-curly-brace-open .b6 {
        width: 100%;
        height: 10%;
        border-left: $curly-border-size solid;
        border-bottom-left-radius: $curly-brace-width;
    }


}

@mixin curly-brace-close($name,$curly-brace-height: 200px, $curly-border-size: 5px, $curly-brace-width: 20px) {

    .#{$name}-curly-brace-close {

        height: $curly-brace-height;
        width: $curly-brace-width;
        display: inline-block;
    }

    .#{$name}-curly-brace-close .b1 {
        width: 100%;
        height: 10%;
        border-right: $curly-border-size solid;
        border-top-right-radius: $curly-brace-width;
    }

    .#{$name}-curly-brace-close .b2 {
        width: 100%;
        height: 30%;
        border-right: $curly-border-size solid;
    }

    .#{$name}-curly-brace-close .b3 {
        margin-left: $curly-brace-width;
        width: 100%;
        height: 10%;
        border-left: $curly-border-size solid;
        border-bottom-left-radius: $curly-brace-width
    }

    .#{$name}-curly-brace-close .b4 {
        margin-left: $curly-brace-width;
        width: 100%;
        height: 10%;
        border-left: $curly-border-size solid;
        border-top-left-radius: $curly-brace-width;
    }

    .#{$name}-curly-brace-close .b5 {
        width: 100%;
        height: 30%;
        border-right: $curly-border-size solid;
    }

    .#{$name}-curly-brace-close .b6 {
        width: 100%;
        height: 10%;
        border-right: $curly-border-size solid;
        border-bottom-right-radius: $curly-brace-width;
    }

}



@include curly-brace-open("name", 40px, 2px, 10px);
@include curly-brace-close("name", 40px, 2px, 10px);

@include curly-brace-open("email", 40px, 2px, 10px);
@include curly-brace-close("email", 40px, 2px, 10px);

@include curly-brace-open("message", 80px, 2px, 5px);
@include curly-brace-close("message", 80px, 2px, 5px);


.name-curly-brace-open, .name-curly-brace-close {
    @include animation("animBraces 3s ease-out forwards");
}

.email-curly-brace-open, .email-curly-brace-close {
    @include animation("animBraces 4s ease-out forwards");
}

.message-curly-brace-open, .message-curly-brace-close {
    @include animation("animBraces 5s ease-out forwards");
}

@include keyframes(animBraces) {

    0% {
        @include opacity(0);
    }
    25% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}


@include keyframes(animButton) {

    0% {
        @include opacity(0);
    }
    60% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}
input[type="submit"] {
    margin: auto;
    @include animation("animButton 6s ease-out forwards");
}


@include keyframes(formInputs) {

    0% {
        width: 0%;
    }
    40% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
};

input[type="text"], input[type="email"], textarea {
    @include animation("formInputs 4s ease-out forwards");
}

@include keyframes(placeholders) {

    0% {
        opacity: 0;
        width: 0%;
    }
    60% {
        opacity: 0;
        width: 0%;
    }
    90% {
        opacity: 0;
        width: 90%;
    }
    100% {
        opacity: 1;
        width: 90%;
    }
};

input[type=text], input[type=email], textarea { @include animation("placeholders 4s ease-out forwards"); }


@media all and (min-width: 40em) {

    $contactContentWidth: 600px;
    $contactContentHeight: 600px;

    #contactContent {
        @include abs-centered();
        height: $contactContentHeight;
        width: $contactContentWidth;
        margin-top: - ($contactContentHeight / 2) + 25px;
        margin-left: - $contactContentWidth / 2;
        // @include debug(red);

        @include animation("animContactContainer 3s ease-in forwards");
    }



    #contactContent h1 {
        padding: 0 0 10px 0;
        height: 50px;
        line-height: 50px;
        font-size: 300%;
    }


    .open-brace-position {
        float: left;
        margin: 10px 0;
    }

    .close-brace-position {
        float: right;
        margin: 10px 5px 10px 0;
    }

    @include curly-brace-open("name", 80px, 4px, 10px);
    @include curly-brace-close("name", 80px, 4px, 10px);

    @include curly-brace-open("email", 80px, 4px, 10px);
    @include curly-brace-close("email", 80px, 4px, 10px);

    @include curly-brace-open("message", 180px, 4px, 10px);
    @include curly-brace-close("message", 180px, 4px, 10px);


    @include keyframes(animContactContainer) {

        0% {
            margin-left: - ($contactContentWidth / 2) + 300px;
            width: 40px;
        }
        80% {
            margin-left: - ($contactContentWidth / 2) + 300px;
            width: 40px;
        }
        100% {
            margin-left: - ($contactContentWidth / 2);
            width: 600px;
        }
    };
}
