@import "base";
@import "common";

$indexContent-width : 300px;
$indexContent-height :300px;

#indexContent {
    @include abs-centered();
    height: $indexContent-height;
    width: $indexContent-width;
    margin-top: - $indexContent-height / 2;
    margin-left: - $indexContent-width / 2;
    // @include debug(#999);
}

#flowerContainer {
    @include debug(red);
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
}


/*
	-- PETALS --------------------------------------------------------------------
*/
.indexPetal {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10% 90% 10% 95%;
    border-top: 2px solid $bg-color;
    border-right: 2px solid $bg-color;
    height: 150px;
    margin: auto;
    width: 50px;
    transform-origin: left top;
    // opacity: 0;
    // background-color: red;

    z-index: 20;
}



// animation
@mixin defineIndexPetalAnim($anim) {
    @include animation("#{$anim} 4s ease-out 1s forwards");
}

// create petal ids and add animation
@for $i from 1 through 18 {
    #indexPetal#{$i} { @include defineIndexPetalAnim( "spin#{$i}") }
}

// start angle
$serviceAngleOffset: 110deg;
$serviceAngleStep: 15deg;

// petal angles
$serviceSpin1Angle:  $serviceAngleStep * 18;
$serviceSpin2Angle:  $serviceAngleStep * 17;
$serviceSpin3Angle:  $serviceAngleStep * 16;
$serviceSpin4Angle:  $serviceAngleStep * 15;
$serviceSpin5Angle:  $serviceAngleStep * 14;
$serviceSpin6Angle:  $serviceAngleStep * 13;
$serviceSpin7Angle:  $serviceAngleStep * 12;
$serviceSpin8Angle:  $serviceAngleStep * 11;
$serviceSpin9Angle:  $serviceAngleStep * 10;
$serviceSpin10Angle: $serviceAngleStep * 9;
$serviceSpin11Angle: $serviceAngleStep * 8;
$serviceSpin12Angle: $serviceAngleStep * 7;
$serviceSpin13Angle: $serviceAngleStep * 6;
$serviceSpin14Angle: $serviceAngleStep * 5;
$serviceSpin15Angle: $serviceAngleStep * 4;
$serviceSpin16Angle: $serviceAngleStep * 3;
$serviceSpin17Angle: $serviceAngleStep * 2;
$serviceSpin18Angle: $serviceAngleStep;

@mixin indexAnimStart {
    opacity: 0;
    @include transform(rotate($serviceAngleOffset) scale(0.01));
}

@mixin indexAnimEnd($angle,$scale) {
    opacity: 1;
    @include transform(rotate($angle) scale($scale));
}

@mixin createIndexAnim($name, $angle, $startColor, $endColor) {

    @include keyframes(#{$name}) {
        0% {
            @include indexAnimStart;
        }
        50% {
            @include indexAnimEnd($angle, 1);
            background-color: $startColor;
        }
        60% {
            @include indexAnimEnd($angle, 1);
            background-color: $endColor;
        }
        100% {
            @include indexAnimEnd($angle, 2);
            background-color: $endColor;
            opacity: 0.5;
        }
    }
}

@include createIndexAnim("spin1", $serviceAngleOffset - $serviceSpin1Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin2", $serviceAngleOffset - $serviceSpin2Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin3", $serviceAngleOffset - $serviceSpin3Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin4", $serviceAngleOffset - $serviceSpin4Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin5", $serviceAngleOffset - $serviceSpin5Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin6", $serviceAngleOffset - $serviceSpin6Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin7", $serviceAngleOffset - $serviceSpin7Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin8", $serviceAngleOffset - $serviceSpin8Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin9", $serviceAngleOffset - $serviceSpin9Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin10", $serviceAngleOffset - $serviceSpin10Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin11", $serviceAngleOffset - $serviceSpin11Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin12", $serviceAngleOffset - $serviceSpin12Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin13", $serviceAngleOffset - $serviceSpin13Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin14", $serviceAngleOffset - $serviceSpin14Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin15", $serviceAngleOffset - $serviceSpin15Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin16", $serviceAngleOffset - $serviceSpin16Angle, $bgGrey2, $bgColor2);
@include createIndexAnim("spin17", $serviceAngleOffset - $serviceSpin17Angle, $bgGrey1, $bgColor1);
@include createIndexAnim("spin18", $serviceAngleOffset - $serviceSpin18Angle, $bgGrey2, $bgColor2);



@media all and (min-width: 40em) {

    $indexContent-width : 500px;
    $indexContent-height :500px;

    #indexContent {
        height: $indexContent-height;
        width: $indexContent-width;
        margin-top: - $indexContent-height / 2;
        margin-left: - $indexContent-width / 2;
    }
}
