/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

/*
 * - FONTS --------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Muli|Gruppo');

@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url("/fonts/BebasNeue Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'LeagueGothic';
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/leaguegothic-condensed-regular-webfont.ttf") format("truetype");
}

$bg-color: #eee;

$main-font: 'Gruppo', sans-serif;


html,
body {
    height: 100%;
}

body {
    background-color: $bg-color;
    overflow: hidden;
    // background: url('/img/bg.png');
}

a {
    text-decoration: none;
}

a.index {
    color: #fff;
}

.text-center {
    text-align: center
}




@import "index";
@import "services";



$topBarHeight : 40px;

.screenTopBar {
	position : absolute;
	top : 0;
	width : 100%;
	display : block!important;
	height : $topBarHeight;
	background-color : #f0f0f0;
	border-bottom : 1px solid white;
/* 	@include debug(white); */
}

ul.menu {
    display: table;
    // @include debug(red);
}

ul.menu li {
    display: table-cell;
    padding: 0 10px;
    height : $topBarHeight;
	line-height : $topBarHeight;
}

ul.menu li a {
    color: #333;
    font-family: 'Muli', sans-serif;
}

.screen {
	display : table;
	width : 100%;
	height : 100% !important;
	font-family: $main-font;
	font-size : 100%;
    @include debug(red);
}

.cell {
	width : 100%!important;
	display : table-cell;
    vertical-align: middle;

}


#contact .page {
    @include debug(red);
    line-height: 2em;
    text-align: left;
    // font-size: 200%;
}


/*
	-- FORMS ---------------------------------------------------------------------
*/

[type="text"], [type="email"], textarea {

	font-family : Muli;
	color : #222;
	background-color : $bg-color;
    border: none;
    border-bottom: solid 1px #ccc;
    @include box-shadow(none);
}


[type="text"]:focus, [type="email"]:focus, textarea:focus {
	background-color : $bg-color;
}

textarea {
    width: 100%;
}

.formErrors {
    color: red;
    font-size: 80%;
    line-height: 1em;
}

@media all and (min-width: 40em) {

    #contact .page, #services .page {
        font-size: 200%;
        width: 600px;
        margin: auto;
    }

    [type="text"], [type="email"], textarea {
        font-size: 70%;
    }
}
